---
layout: base
---

{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
        
<div class="styles__socialWrapper___3PT7B"><div class="styles__trailerSocialConnections___2zF7L" data-cy="trailerContainer"><div class="styles__placeholder___10w-y"></div><div class="styles__container___1GuuE"></div></div><div class="styles__listeningPlatforms___3SAK-"><div class="css-1dxgh9b "><h5 class="styles__listeningPlatformTitle___1KuNW">Where to listen</h5></div><div class="css-3n7dts "><div class="styles__wrapper___1wrBP"><a href="https://podcasts.apple.com/gb/podcast/here-the-future/id1518322657" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/apple_podcasts.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/apple_podcasts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/apple_podcasts@2x.png 2x" alt="Apple Podcasts Logo" height="28" width="28">
    <!-- <p class="styles__text___1SXNv">Apple Podcasts</p> -->
</div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://www.breaker.audio/here-the-future" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker@2x.png 2x" alt="Breaker Logo" height="28" width="28">
    <!-- <p class="styles__text___1SXNv">Breaker</p> -->
</div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yNTNmZmRhYy9wb2RjYXN0L3Jzcw==" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts@2x.png 2x" alt="Google Podcasts Logo" height="28" width="28">
    <!-- <p class="styles__text___1SXNv">Google Podcasts</p> -->
</div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://overcast.fm/itunes1518322657/here-the-future" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/overcast.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/overcast.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/overcast@2x.png 2x" alt="Overcast Logo" height="28" width="28"><p class="styles__text___1SXNv">Overcast</p></div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://pca.st/b1qwcvtb" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts@2x.png 2x" alt="Pocket Casts Logo" height="28" width="28"><p class="styles__text___1SXNv">Pocket Casts</p></div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://radiopublic.com/here-the-future-WdZPQ7" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic@2x.png 2x" alt="RadioPublic Logo" height="28" width="28"><p class="styles__text___1SXNv">RadioPublic</p></div></a></div>
<div class="styles__wrapper___1wrBP"><a href="https://open.spotify.com/show/6woWk68P9BMsBuTXA7qBzZ" target="_blank" rel="noopener noreferrer" class="css-1z0xd9g"><div class="styles__iconWrapper___9XLUZ"><img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/spotify.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/spotify.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/spotify@2x.png 2x" alt="Spotify Logo" height="28" width="28"><p class="styles__text___1SXNv">Spotify</p></div></a></div></div></div></div></div></div>
      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
